* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  overflow-x: hidden;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* icon style */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

a {
  color: #4e4e4e;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 2000;
  transition: transform 0.3 ease;
}

.menu_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.center-input {
  display: flex;
  align-items: center;
  max-width: 50%;
}

.input_box {
  width: 550px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #cccccc;
  position: relative;
  margin-right: 20px;
  border-radius: 25px;
  padding: 10px 20px;
}

.input_box input {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 90%;
  padding-left: 15px;
  background-color: #fff;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-right: 1px solid #cccccc;
}

.input_box input:focus {
  outline: none;
}

.input_box .search_icon {
  background-color: #ececec;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px 20px;
}

.center-input .mic {
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  padding: 10px 0;
  object-fit: cover;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.center-input .mic:hover {
  background-color: #cccccc;
}

.right_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 20px; */
}

.right_icons a {
  margin-right: 20px;
}

.profile_btn {
  text-decoration: none;
}

.profile_btn p {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: orangered;
  text-align: center;
  padding: 5px;
  color: #fff;
  font-weight: 400;
}

/* Main Section */
main {
  display: flex;
  position: relative;
  /* top: 90px; */
}

/* sidebar */
.sidebar {
  float: left;
  width: 18%;
  height: 100vh;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 15px;
  margin-top: 60px;
}

.menu_links {
  margin-bottom: 15px;
  border-bottom: 2px solid #dddddd;
  padding-bottom: 15px;
}

.menu_links a {
  display: block;
  display: flex;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  /* margin: 15px; */
  /* border-radius: 10px; */
  gap: 8px;
}

.menu_links a:hover {
  background-color: #f2f2f2;
  border-radius: 5px;
}

.menu_links a:focus {
  background-color: #cccccc;
  border-radius: 5px;
}

.menu_links a span {
  margin-right: 15px;
}

.subscriptions {
  font-size: 16px;
  font-weight: 600;
  color: #4e4e4e;
  padding: 10px;
}

.menu_links a img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 15px;
}

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-bottom: 15px;
}

.footer a {
  margin-right: 6px;
  padding: 2px;
  font-size: 14px;
}

/* Main Content */
.container {
  width: 82%;
  height: auto;
  padding: 0px 0px 10px 30px;
  box-sizing: border-box;
  /* background-color: #fff */
  margin-top: 60px;
  background-color: #fff;
  /* overflow: scroll; */
}

.topbar_container {
  background-color: #fff;
  height: 50px;
  /* max-width: 100%; */
  width: 82%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  flex-basis: auto;
  flex-grow: 0;
  overflow-x: scroll;
  z-index: 2000;
  position: fixed;
  padding: 10px;
}

.topbar_container a {
  padding: 10px 15px;
  background-color: #f2f2f2;
  border-radius: 8px;
  margin-right: 15px;
  box-sizing: border-box;
  font-weight: 500;
  text-align: center;
  border: none;
}

.topbar_container a:hover {
  background-color: #cccccc;
}

.topbar_container a:focus {
  background-color: #cccccc;
}

.topbar_container::-webkit-scrollbar {
  display: none;
}

.cards_holder {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  /* margin-top: 60px; */
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  overflow-x: scroll;
}

.card_wrapper {
  height: auto;
  width: 250px;
}

.card_wrapper:hover {
  cursor: pointer;
}

.card {
  width: 100%;
  height: 170px;
  border-radius: 20px;
  box-sizing: border-box;
}

.card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.profile_imgbox img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.card_description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card_description .profile_imgbox {
  margin-top: 15px;
  margin-right: 20px;
}

.card_details {
  padding: 5px 0;
}

.card_details h3 {
  font-size: 15px;
  margin-bottom: 7px;
}

.card_details p,
.card_details span {
  font-size: 12px;
  color: #8d8d8d;
}

.shorts_container {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  display: flex;
  justify-content: space-betweenx;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
}

.shorts_card {
  width: 180px;
  height: 300px;
  border-radius: 20px;
  background-color: red;
  margin: 10px;
  box-sizing: border-box;
}

.shorts_card:hover {
  cursor: pointer;
}

.shorts_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.horizontal {
  width: 98%;
  border-top: 2px solid #dddddd;
  margin-bottom: 15px;
  margin-top: 15px;
}

.horizontal h3 {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .leftside_icons {
    display: none;
  }
}

@media (max-width: 480px) {
  .container {
    width: 70%;
  }

  .sidebar {
    width: 30%;
  }
}
